* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f0f0;
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 100%;
  max-width: 400px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
}

.btn {
  background-color: #4CAF50;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 3px;
  margin-top: 20px;
  width: 100%;
}

.btn-primary {
  background-color: #4CAF50;
}

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .login-box {
    max-width: 500px;
    width: 50%;
    margin: auto;
  }
}
