<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Users Listing</title>
  <link rel="stylesheet" href="../static/css/listing_page.css">
</head>
<body>
    <header>
      <nav>
        <h1>Students Rating</h1>
        <ul>
          <li><a href="./login_page.html">Login</a></li>
          <li><a href="./main_page.html">Home</a></li>
          <li><a href="./listing_page.html">Users</a></li>
          <li><a href="./contact_page.html">Contact</a></li>
        </ul>
      </nav>
    </header>

  <main>
    <div class="users-list">
      <div class="user">
        <div class="user-details">
          <h2>Some Student</h2>
          <p>test@gmail.com</p>
          <p>student</p>
        </div>
        
        <div class="actions">
          <button class="edit-button">Edit</button>
          <button class="delete-button">Delete</button>
        </div>
      </div>

      <div class="user">
        <div class="user-details">
          <h2>Some Teacher</h2>
          <p>teacher@gmail.com</p>
          <p>teacher</p>
        </div>
      </div>

    </div>
  </main>

    <footer>
      <div class="footer-content">
        <p> Students Rating </p>
        <p>&copy; 2023 Students Rating. All rights reserved.</p>
      </div>
    </footer>
</body>
</html>
