<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students Rating</title>
    <link rel="stylesheet" href="../static/css/rating_table.css">
  </head>

<body>
  <header>
    <nav>
      <h1>Students Rating</h1>
      <ul>
          <li><a href="./main_page.html">Home</a></li>
          <li><a href="./listing_page.html">Users</a></li>
          <li><a href="./contact_page.html">Contact</a></li>
      </ul>
    </nav>
  </header>

  <div class="container">
    <h2>Subject Ratings</h2>
    <div class="row">
      <div class="col-subject">
        <h3>Math</h3>
        <ul class="ratings">
          <li><span class="name">Student 1:</span> <span class="value">4.5</span></li>
          <li><span class="name">Student 2:</span> <span class="value">3.8</span></li>
          <li><span class="name">Student 3:</span> <span class="value">4.0</span></li>
        </ul>
      </div>
      <div class="col-subject">
        <h3>English</h3>
        <ul class="ratings">
          <li><span class="name">Student 1:</span> <span class="value">3.5</span></li>
          <li><span class="name">Student 2:</span> <span class="value">4.2</span></li>
          <li><span class="name">Student 3:</span> <span class="value">3.9</span></li>
        </ul>
      </div>
      <div class="col-subject">
        <h3>Science</h3>
        <ul class="ratings">
          <li><span class="name">Student 1:</span> <span class="value">4.2</span></li>
          <li><span class="name">Student 2:</span> <span class="value">3.7</span></li>
          <li><span class="name">Student 3:</span> <span class="value">4.1</span></li>
        </ul>
      </div>
    </div>
  </div>
  <footer>
    <div class="footer-content">
      <p> Students Rating </p>
      <p>&copy; 2023 Students Rating. All rights reserved.</p>
    </div>
  </footer>

</body>